h1 {
    text-align: center;
}

.container {
    background-color: white;
    padding: 10 0 10 0;
}

.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}
/*Project used essentially to learn "rgb", "hex code", "hsl", how to use linear-grandient*/
.red {
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
}

.green {
    background-color: rgb(0, 255, 0);
}

.blue {
    background-color: hsl(240, 100%, 50%);
}